APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_DOMAIN=

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=help_bloomery
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
LIVEWIRE_TEMPORARY_FILE_UPLOAD_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1
REDIS_CACHE_CONNECTION=cache
REDIS_QUEUE_CONNECTION=default
REDIS_QUEUE=default
REDIS_QUEUE_RETRY_AFTER=90

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_ENDPOINT=https://<account_id>.r2.cloudflarestorage.com
R2_URL=https://cdn.yourdomain.com

ESB_BASE_URL=https://core-api.esb.co.id
ESB_CORE_BASE_URL=https://services.esb.co.id/core
ESB_CORE_USERNAME=
ESB_CORE_PASSWORD=
ESB_CORE_TIMEOUT=60
ESB_CORE_TOKEN_TTL=3300
ESB_MASTER_PRODUCT_BASE_URL=https://core-api.esb.co.id
ESB_MASTER_PRODUCT_TOKEN=
ESB_TOKEN_BLO7=
ESB_TOKEN_BLO6=
ESB_TOKEN_BLO18=
ESB_TOKEN_BLO16=
ESB_TOKEN_BLO15=
ESB_TOKEN_BLO14=
ESB_TOKEN_BLO13=
ESB_TOKEN_BLO12=
ESB_TOKEN_BLO11=
ESB_TOKEN_BLO10=
ESB_TOKEN_BLMN=
ESB_TOKEN_BLAR=

RND_BOM_PIN=
RND_BOM_PIN_TTL_MINUTES=15

VITE_APP_NAME="${APP_NAME}"
